body {
    background-color: black;
}

.container {
    margin: 10px auto;
    width: 400px;
    height: 500px;
    background-color: white;
    text-align: center;
}

.titlediv {
    width: 100%;
    height: auto;
    text-align: center;
    border-bottom: 1px solid black;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
}

#select_room {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 30px;
    font-size: 20px;
}


#h3 {
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
    border: 1px solid black;
    text-align: center;
}
h3 {
    margin-top: 0px;
    font-size: 20px;
    margin-bottom: 0px;
}

#sala {
    width: 100%;
    height: 25px;
    border: 1px solid green;
    margin-bottom: 5px;
}
#sala:hover {
    width: 100%;
    height: 25px;
    border: 1px solid blue;
    margin-bottom: 5px;
}

.inputs {
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid black;
    text-align: center;
}

.bt {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    font-size: 20px;
    font-style: oblique;
    font-family: sans-serif;
}
.subname {
    margin-top: 10px;
    width: 90%;
    font-size: 20px;
}
.subdes {
    margin-top: 10px;
    width: 90%;
    font-size: 20px;
}

.fim {
    width: 100%;
    height: 40px;
    text-align: center;
}
